@model OnlineShoppingMvcWebApp.Models.Order
@using OnlineShoppingMvcWebApp.Models
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />

    <table border="1">
        <tr>
            <th>Book ID</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price(RM)</th>
            <th>Quantity</th>
            <th>Total Price(RM)</th>
        </tr>

        @foreach (var cart in (List<Cart>)Session["OldCart"])
        {
            <tr>
                <td>@cart.Book.BookId</td>
                <td>@cart.Book.Title</td>
                <td>@cart.Book.ISBN</td>
                <td>@cart.Book.Price</td>
                <td>@cart.Quantity</td>
                <td>@{var totprice = cart.Quantity * cart.Book.Price;}@totprice</td>
                @{Model.TotalPrice += totprice;
                }
            </tr>
        }

    </table>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipFee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
