@model OnlineShoppingMvcWebApp.Models.Order
@using OnlineShoppingMvcWebApp.Models
@{
    ViewBag.Title = "View Order Details";
}

<h2>View Order Details</h2>

<div>
  
    <hr />


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.registeredUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.registeredUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.ShipAddress)
        </dt>

        <dd>
            @{ var Address = Model.Customer.ShipAddress.Street + ", " + Model.Customer.ShipAddress.PostCode + ", " + Model.Customer.ShipAddress.City + ", "
                       + Model.Customer.ShipAddress.State + ", " + Model.Customer.ShipAddress.Country; }

            @Address
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

      
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
