
@model IEnumerable<OnlineShoppingMvcWebApp.Models.Customer>
@{
    ViewBag.Title = "Customer List";
}

<h2>Customer List</h2>

<p>
    @Html.ActionLink("Add New Customer", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipAddress)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipAddress.AddressID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.registeredUserId }) |
            @Html.ActionLink("Details", "Details", new { id = item.registeredUserId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.registeredUserId })
        </td>
    </tr>
    }

</table>
