@model IEnumerable<OnlineShoppingMvcWebApp.Models.Book>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IT BookStore - Online Shopping Website For Information and Technology Book</title>


    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">

</head>

<body>


    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">Book Category</h1>
                <div class="list-group">
                    <a href="~/OnlineShopping/Index" class="list-group-item active">Administration</a>
                    <a href="~/OnlineShopping/Index2" class="list-group-item">C#</a>
                    <a href="~/OnlineShopping/Index3" class="list-group-item">Arduino</a>
                </div>

            </div>
            <!-- /.col-lg-3 -->


            <div class="col-lg-9">

                <div class="row">
                    @foreach (var item in Model)
                    {
                        if (item.Category.Equals("Administration"))
                        {
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a href="#"><img class="card-img-top"  width="200" height="300"  src="@item.CoverPage" alt="@item.Title"></a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="~/Books/DetailsForCustomer/@item.BookId">@item.Title</a>
                                        </h4>
                                        <h5><b>RM @item.Price</b></h5>
                                        <h6>Author : @item.Author</h6>
                                        <h6>ISBN   : @item.ISBN</h6>
                                        <h6>Publisher : @item.Publisher</h6>
                                        <h6>Category  : @item.Category</h6>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>

                                    </div>
                                    <div class="card-footer">
                                        <button>@Html.ActionLink("Buy Now", "OrderNow", "ShoppingCart", new { id = item.BookId }, null)</button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!-- /.col-lg-9 -->

            </div>
            <!-- /.row -->


        </div>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>


    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/bootstrap.bundle.min.js"></script>
</body>

</html>
